on:
  workflow_call:
    inputs:
      directory:
        required: true
        type: string

jobs:
  build:
    runs-on: windows-2022
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Build Images
      run: .\github-action.ps1 ${{ inputs.directory }} ${{ secrets.DOCKERHUB_USERNAME }} ${{ secrets.DOCKERHUB_TOKEN }}
      shell: pwsh
