name: azulzulu-17-alpine

on:
  push:
    branches:
    - master
    paths:
      - "azulzulu-17-alpine/**"
      - .github/workflows/azulzulu-17-alpine.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"
  pull_request:
    paths:
      - "azulzulu-17-alpine/**"
      - .github/workflows/azulzulu-17-alpine.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"

jobs:
  build:
    uses: ./.github/workflows/_template.yml
    with:
      directory: azulzulu-17-alpine
    secrets: inherit
