name: eclipse-temurin-8

on:
  push:
    branches:
    - master
    paths:
      - "eclipse-temurin-8/**"
      - .github/workflows/eclipse-temurin-8.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"
  pull_request:
    paths:
      - "eclipse-temurin-8/**"
      - .github/workflows/eclipse-temurin-8.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"

jobs:
  build:
    uses: ./.github/workflows/_template.yml
    with:
      directory: eclipse-temurin-8
    secrets: inherit
