name: openjdk-18-slim

on:
  push:
    branches:
    - master
    paths:
      - "openjdk-18-slim/**"
      - .github/workflows/openjdk-18-slim.yml
      - .github/workflows/_template.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"
  pull_request:
    paths:
      - "openjdk-18-slim/**"
      - .github/workflows/openjdk-18-slim.yml
      - .github/workflows/_template.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"

jobs:
  build:
    uses: ./.github/workflows/_template.yml
    with:
      directory: openjdk-18-slim
    secrets: inherit
