name: sapmachine-11

on:
  push:
    branches:
    - master
    paths:
      - "sapmachine-11/**"
      - .github/workflows/sapmachine-11.yml
      - .github/workflows/_template.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"
  pull_request:
    paths:
      - "sapmachine-11/**"
      - .github/workflows/sapmachine-11.yml
      - .github/workflows/_template.yml
      - common.sh
      - tags-for-dir.sh
      - "tests/**"
      - "!tests/*.ps*"
      - "!tests/*.windows"

jobs:
  build:
    uses: ./.github/workflows/_template.yml
    with:
      directory: sapmachine-11
    secrets: inherit
